<%- include("partials/header") %> <!-- Include header -->

<style>
  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  .user-info h4 {
    margin: 0;
  }
  .user-info form {
    margin-top: 5px;
  }
</style>

<div class="box" id="heading">
  <h1><%= listTitle %></h1> <!-- Dynamic Title -->
  <div class="user-info">
    <h4>Hello, <%= user.username %></h4>
    <form action="/logout" method="POST">
      <button type="submit">Log out</button>
    </form>
  </div>
</div>

<!-- Display List Items Dynamically -->
<div class="box">
  <% newListItems.forEach(item => { %>
    <form action="/delete" method="POST"> <!-- Delete task when checked -->
      <div class="item">
        <input type="hidden" name="id" value="<%= item.id %>">
        <input type="checkbox" name="checkbox" onChange="this.form.submit()">
        <span><%= item.name %></span>
      </div>
    </form>
  <% }) %>
</div>

<!-- Input for Adding New Items -->
<div class="box">
  <form class="item" action="/add" method="POST">
    <input type="text" name="newItem" placeholder="New item" autocomplete="off" required />
    <button class="list" type="submit" name="list" value="<%= listTitle %>">+</button>
  </form>
</div>

<%- include("partials/footer") %> <!-- Include footer -->